{% extends 'base.html' %}
{% block title %}
    {% if edit %}
        - ערוך את הזמנה #{{ form.instance.id }}
    {% else %}
        - הזמנה חדשה
    {% endif %}
{% endblock %}
{% block  content %}
    {% load static %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/order_handler.js' %}"></script>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 page-title">
            <h1>
                {% if edit %}
                    ערוך את הזמנה #{{ form.instance.id }}
                {% else %}
                    הוסף הזמנה חדשה
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a {% if edit %} href="{% url 'orders:info' form.instance.id %}" {% else %}onclick="window.history.back(); return false;" {% endif %}>
                    <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                    <div class="menu-text">חזרה</div>
                </a>
            </li>
            <li>
                <a href="">
                    <label for="submit-form">
                        <div class="menu-icon"><i class="far fa-save" aria-hidden="true"></i></div>
                        <div class="menu-text">שמור</div>
                    </label>
                </a>
            </li>
        </ul>

    </div>

    <div class="row"></div>
    <div class="row">
    <div class="col-lg-3"></div>
        <form id="form" class="new-client-form" action="" method="POST">
            {% csrf_token %}
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="rtlform">{{ form.remarks.label_tag }}</span>
                    {{ form.remarks }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group ui-widget">
                    <span class="rtlform"> {{ form.clientID.label_tag }}</span>
                    <span style="display: none;">{{ form.clientID }}</span>

                    {% if edit %}
                        <span>{{ form.instance.clientID.name }}</span>
                    {% else %}
                        <input id="autocomplete-clients" onkeyup="resetClientID()">

                    {% endif %}
                    <div class="row login-error" style="display: none; font-size: 12px; padding-left: 30%;" id="cerror">
                        <span>אנא בחר לקוח הקיים במערכת.</span>
                    </div>
                </div>
                <div class="input-group">
                    <span class="rtlform">{{ form.dueDate.label_tag }}</span>
                    {% if form.instance.doneTime %}
                        {{ form.instance.dueDate }}
                    {% else %}
                        {{ form.dueDate }}
                        <br/>
                        <span style="font-size: 12px; padding-right: 200px;">hh:mm:ss YYYY-MM-DD</span>
                    {% endif %}


                </div>
                </div>
        </div>
                <div class="row">
                    <h3 style="padding-right: 10%;">מוצרים</h3>
                    {% if edit %}
                        {% for product in products %}
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2">
                                    <label>תהליכים:</label>
                                <span style="font-weight: 600;">
                                    {% for p in product.get_done %}{% ifnotequal forloop.counter 1 %},{% endifnotequal %}<span style="color:lightgreen">{{ p }}</span>{% endfor %}{% if product.get_done and product.processes %},{% endif %}{{ product.processes }}
                                </span>
                                </div>

                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <span class="rtlform"><label>כמות:</label></span>
                                        <span>{{ product.amount }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div style="display: inline-block;" class="input-group">
                                        <span class="rtlform"><label>שם:</label></span>
                                        <span>{{ product.name }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    {% if not form.instance.doneTime %}
                                        <a href="{% url 'orders:pedit' product.id %}" >
                                            <div style="display: inline;"><i class="fas fa-wrench"></i></div>
                                        </a>
                                    {% endif %}
                                    <h4  style="display: inline; margin-right: 10px;">{{ forloop.counter }}.</h4>
                                </div>
                                <div class="col-lg-1">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2">
                                </div>

                                <div class="col-lg-3">
                                    <div style="display: inline-block;" class="input-group">
                                        <span class="rtlform"><label>טופס ניתוב:</label></span>
                                        {% if product.routing %}
                                            <a onclick="deleteForm({{ product.id }},'routing')" style="color:red;"><i class="fas fa-trash-alt"></i> מחק</a>
                                        {% else %}
                                            <span>לא קיים</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div style="display: inline-block;" class="input-group">
                                        <span class="rtlform"><label>C.O.C:</label></span>
                                        {% if product.coc %}
                                            <a onclick="deleteForm({{ product.id }},'coc')" style="color:red;"><i class="fas fa-trash-alt"></i> מחק</a>
                                        {% else %}
                                            <span>לא קיים</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                <input type="hidden" id="Pcounter" name="Pcounter" value="0">
                            <input type="hidden" id="Ecounter" name="Ecounter" value="{{ products|length }}">
                    {% if not form.instance.doneTime %}
                        <fieldset>

                            <div class="fields">
                                <!--reserved for more menus -->
                            </div>
                            <div style="margin-right: 5%; margin-bottom: 5%;">
                            <button type="button" class="btn btn-success" id="addProduct">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-danger" id="removeProduct">
                                <span class="glyphicon glyphicon-minus"></span></button>
                            </div>
                        </fieldset>
                    {% endif %}
                </div>
                <input type="" onclick="validateAndSubmit()" id="submit-form" class="hidden">

        </form>
    </div>
                    <!-- DELETE MODAL -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h1><i class="fas fa-exclamation-circle"></i></h1>
                                <h3>האם אתה בטוח שברצונך למחוק טופס זה?</h3>
                                <p>ניתן להפיק טופס חדש ממרכז הטפסים</p>
                            </div>
                            <div class="modal-footer">
                                {% csrf_token %}
                                <button id="dButton" type="button" class="btn btn-danger" onclick="">
                                    <i class="fas fa-check"></i> מחק
                                </button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">
                                    <i class="fas fa-times"></i> בטל
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" type="text/css" media="all" />

           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
                $.ajax({
                    url: "/api/stations/",
                    success: function(data){
                    stations = JSON.parse(data);
                    {% if not edit %}
                        addProduct();
                    {% endif %}
                }});

        });
        $(function() {
            {% if client %}
                $("#autocomplete-clients").val('{{ client.name }}'.replace('&quot;','"'));
                $("select[name='clientID']").val({{ client.id }});
            {% endif %}
          $("#autocomplete-clients").autocomplete({
                source: "/api/clients/",
                minLength: 1,
                select: function(event, ui) {
                            event.preventDefault();
                            if(ui.item.value == 0){
                                window.location.href = '../../clients/new';
                            }
                            else{
                                $("#autocomplete-clients").val(ui.item.label.substring(ui.item.label.indexOf('-')+2));
                                $("select[name='clientID']").val(ui.item.value);
                            }

                        }
          });

        });

    //   keeps same width as box
      jQuery.ui.autocomplete.prototype._resizeMenu = function () {
          var ul = this.menu.element;
          ul.outerWidth(this.element.outerWidth());
        }
        function resetClientID() {
          $("#id_clientID").val(0);
        }

</script>

{% endblock %}