{% extends 'base.html' %}
{% load static %}
{% block title %}
            {% if order %}
                - הזמנה #{{ order.id }}
            {% else %}
                - הזמנות
            {% endif %}
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 page-title">
            <h1>
                {% if order %}
                הזמנה #{{ order.id }}
                {% endif %}
            </h1>
        </div>
    </div>
    <!-- MENU -->
    <div class="menu">
        <ul>
            <li>
                <a onclick="window.history.back(); return false;" >
                    <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                    <div class="menu-text">חזרה</div>
                </a>
            </li>
            {% if order %}
                <li class="right-menu">
                        <a href="{% url 'clients:info' order.clientID.id %}">
                            <div class="menu-icon"><i class="fa fa-user"></i></div>
                            <div class="menu-text">צפה בלקוח {{ order.clientID.name }}</div>
                        </a>
                </li>
                {% if order.doneTime %}
                <li class="right-menu">
                        <a href="{% url 'reports:delivery' order.id %}" target="_blank">
                            <div class="menu-icon"><i class="fas fa-truck"></i></div>
                            <div class="menu-text">צור אישור איסוף</div>
                        </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'orders:edit' order.id %}" >
                        <div class="menu-icon"><i class="fas fa-pencil-alt"></i></div>
                        <div class="menu-text">ערוך</div>
                    </a>
                </li>
                <li>
                    <a id="delete">
                        <div class="menu-icon"><i class="fas fa-trash-alt"></i></div>
                        <div class="menu-text">מחק</div>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
<div class="row"></div>
<!-- CONTENT -->
            {% if order %}
                <div class="row info">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="progress">
                            <div class="progress-bar
                                {% if not order.get_progress == 100 %}
                                    progress-bar-striped progress-bar-animated active
                                {% else %}
                                    progress-bar-success
                                {% endif %}
                                " role="progressbar" aria-valuenow="{{ order.get_progress }}"
                                aria-valuemin="0" aria-valuemax="100" style="width:{{ order.get_progress }}%">
                                    <span>{{ order.get_progress }}% הושלמו</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row info">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <h3>פרטי הזמנה</h3>
                        <p>התקבלה ב-{{ order.created|date:'d/m/Y, H:i' }}.</p>
                        {% if order.doneTime %}
                            <p>הסתיימה ב-{{ order.doneTime|date:'d/m/Y, H:i' }}, עובדה תוך <span>{{ order.get_process_time }}</span>. </p>
                            {% if order.dueDate %}
                               <p>
                                   יעד לסיום {{ order.dueDate|date:'d/m/Y, H:i' }} -
                                    {% if order.late_due %}
                                        <span style="font-weight: bold; color:red;"> הסתיים באיחור של <span>{{ order.get_duedone_difference }}</span></span>.
                                    {% else %}
                                        <span style="color:green;">  הסתיים <span>{{ order.get_duedone_difference }}</span> לפני הזמן</span>.
                                    {% endif %}
                               </p>
                            {% endif %}
                        {% else %}
                            {% if order.dueDate %}
                               <p>
                                   יעד לסיום {{ order.dueDate|date:'d/m/Y, H:i' }} -
                                    {% if order.late_due %}
                                        <span style="font-weight: bold; color:red;">לפני <span>{{ order.dueDate|timesince }}</span></span>.
                                    {% else %}
                                        <span>בעוד <span >{{ order.dueDate|timeuntil }}</span>.</span>
                                    {% endif %}
                               </p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-lg-3">
                        <h3>פרטי לקוח</h3>
                        <h4>{{ order.clientID.name }}</h4>
                        <p>{{ order.clientID.contactName }}</p>
                        {% if order.clientID.contactPhone %}
                            <p>{{ order.clientID.contactPhone }}</p>
                        {% endif %}
                        {% if order.clientID.contactEmail %}
                            <p>{{ order.clientID.contactEmail }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if order.remarks %}
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <h3>הערות</h3>
                            <p>{{ order.remarks }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row info table">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>מוצרים</h4>
                            </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th onclick="sortTable(0,0)">שם</th>
                                            <th onclick="sortTable(1,0)">כמות</th>
                                            <th onclick="sortTable(2,0)">תהליכים</th>
                                            <th>C.O.C</th>
                                            <th>כרטיס ניתוב</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        {% if products %}
                                            {% for product in products %}
                                                <tr class="clickable-product-row">
                                                    <td hidden>{{ product.id }}</td>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.amount }}</td>
                                                    <td style="font-weight: 600;">
                                                            {% for p in product.get_done %}{% ifnotequal forloop.counter 1 %},{% endifnotequal %}<span style="color:lightgreen">{{ p }}</span>{% endfor %}{% if product.get_done and product.processes %},{% endif %}{{ product.processes }}
                                                        </td>
                                                    <td>
                                                        {% if product.coc_needed %}
                                                            {% ifequal product.coc '' %}
                                                                <i class="fa fa-certificate" style="color:darkgray;"></i>
                                                            {% else %}
                                                                <a href="{% url 'reports:coc' product.id %}" target="_blank">
                                                                    <i class="fa fa-certificate"></i>
                                                                </a>
                                                            {% endifequal %}
                                                        {% else %}
                                                            <i class="fas fa-times red-x" style="color:darkgray;"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% ifequal product.routing '' %}
                                                            {% ifequal product.processes ''  %}
                                                                <i class="fas fa-arrows-alt" style="color:darkgray;"></i>
                                                            {% else %}
                                                                <a href="{% url 'reports:routing' product.id %}" target="_blank">
                                                                    <i class="fas fa-arrows-alt" style="color:#eea236;"></i>
                                                                </a>
                                                            {% endifequal %}
                                                        {% else %}
                                                            <a href="{% url 'reports:routing' product.id %}" target="_blank">
                                                                <i class="fas fa-arrows-alt"></i>
                                                            </a>
                                                        {% endifequal %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="5">לא הוספו מוצרים</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            <span style="color:darkgray">יש להפיק בעמוד הטפסים</span>
                            <span style="color:#eea236; margin-right: 20px;">טיוטה</span>
                            <span style="color:#428bca; margin-right: 20px;">טופס סופי</span>
                        </div>

                    </div>
                </div>

                <!-- DELETE MODAL -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h1><i class="fas fa-exclamation-circle"></i></h1>
                                <h3>האם אתה בטוח שברצונך למחוק את הזמנה #{{ order.id }}?</h3>
                                <p>תהליך זה ימחק את כל המידע הקשור להזמנה #{{ order.id }} </p>
                                <p style="font-weight: bold">לא ניתן לשחזר מידע שנמחק.</p>
                            </div>
                            <div class="modal-footer">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" onclick="deleteOrder({{ order.id }})">
                                    <i class="fas fa-check"></i> מחק
                                </button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">
                                    <i class="fas fa-times"></i> בטל
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NOT EXISTS MESSAGE -->
            {% else %}
                <div class="row"></div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="not-exist">
                            <i class="fas fa-ban"></i>
                            <p>{{ error }}</p>

                        </div>
                    </div>
                </div>
            {% endif %}



{% endblock %}