{% extends 'base.html' %}
{% block title %}
    {% if edit %}
        - Edit Order #{{ form.instance.id }}
    {% else %}
        - New Order
    {% endif %}
{% endblock %}
{% block  content %}
    {% load static %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/order_handler.js' %}"></script>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 page-title">
            <h1>
                {% if edit %}
                    Edit Order #{{ form.instance.id }}
                {% else %}
                    Add a New Order
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a onclick="window.history.back(); return false;" >
                    <div class="menu-icon"><i class="fas fa-arrow-left"></i></div>
                    <div class="menu-text">Back</div>
                </a>
            </li>
            <li>
                <a href="">
                    <label for="submit-form">
                        <div class="menu-icon"><i class="far fa-save" aria-hidden="true"></i></div>
                        <div class="menu-text">Save</div>
                    </label>
                </a>
            </li>
        </ul>

    </div>

    <div class="row"></div>
    <div class="row">
    <div class="col-lg-2"></div>
        <form class="new-client-form" action="" method="POST">
            {% csrf_token %}
            <div class="col-lg-3">
                <div class="input-group ui-widget">
                    <span>{{ form.clientID.label_tag }}</span>
                    <span style="display: none;">{{ form.clientID }}</span>
                    {% if edit %}
                        <span>{{ form.instance.clientID.name }}</span>
                    {% else %}
                        <input id="autocomplete-clients" onkeyup="resetClientID()">

                    {% endif %}
                </div>
                <div class="input-group">
                    <span>{{ form.dueDate.label_tag }}</span>
                    {{ form.dueDate }}

                </div>
            </div>
                <div class="input-group">
                    <span>{{ form.remarks.label_tag }}</span>
                    {{ form.remarks }}
                </div>
                <div class="row">
                    <h3>Products</h3>
                    {% if edit %}
                        {% for product in products %}
                            <div class="row">
                                <div class="col-lg-1">
                                    <h4>{{ forloop.counter }}.</h4>
                                </div>
                                <div class="col-lg-3">
                                     <a href="{% url 'orders:pedit' product.id %}" >
                                        <div style="display: inline;" class=""><i class="fas fa-wrench"></i></div>
                                    </a>
                                    <div style="display: inline-block;" class="input-group">
                                        <label>Name:</label>
                                        <span>{{ product.name }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <label>Amount:</label>
                                        <span>{{ product.amount }}</span>
                                    </div>
                                </div>
                                <label>Processes:</label>
                                <span>{{ product.processes }}</span>

                            </div>
                            <input type="hidden" id="Ecounter" name="Ecounter" value="{{ forloop.counter }}">
                        {% endfor %}
                    {% endif %}
                    <fieldset>
                        <input type="hidden" id="Pcounter" name="Pcounter" value="0">

                        <div class="fields">
                            <!--reserved for more menues -->
                            <!--
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                    <label>Name:</label>
                                    <input type="text" name="name#">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                    <label>Amount:</label>
                                    <input type="text" name="amount#">
                                    </div>
                                </div>
                                <label>Processes:</label>
                                <input type="text" name="process#">
                                <select>asdasd</select>
                            </div>
                            -->
                        </div>
                        <button type="button" class="btn btn-success" id="addProduct">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-danger" id="removeProduct">
                            <span class="glyphicon glyphicon-minus"></span></button>
                    </fieldset>
                </div>
                <input type="submit" id="submit-form" class="hidden">

        </form>
    </div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" type="text/css" media="all" />

           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">

        $(function() {
            {% if client %}
                $("#autocomplete-clients").val('{{ client.name }}');
                $("select[name='clientID']").val({{ client.id }});
            {% endif %}
          $("#autocomplete-clients").autocomplete({
                source: "/api/clients/",
                minLength: 1,
                select: function(event, ui) {
                            event.preventDefault();
                            if(ui.item.value == 0){
                                window.location.href = '../../clients/new';
                            }
                            else{
                                $("#autocomplete-clients").val(ui.item.label.substring(ui.item.label.indexOf('-')+2));
                                $("select[name='clientID']").val(ui.item.value);
                            }

                        }
          });

        });

    //   keeps same width as box
      jQuery.ui.autocomplete.prototype._resizeMenu = function () {
          var ul = this.menu.element;
          ul.outerWidth(this.element.outerWidth());
        }
        function resetClientID() {
          $("#id_clientID").val(0);
        }

</script>

{% endblock %}