{% extends 'base.html' %}
{% block title %}
- Workers Shifts
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-6 page-title">
            <h1></h1>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a onclick="window.history.back(); return false;" >
                    <div class="menu-icon"><i class="fas fa-arrow-left"></i></div>
                    <div class="menu-text">Back</div>
                </a>
        </ul>
    </div>
    <div class="row table">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {% if not orders and query %}
                Nothing found
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                                 Shifts Assignment
                        </h4>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                 <th colspan="3" onclick="sortTable(1,0)">Sunday</th>
                                 <th colspan="3" onclick="sortTable(2,0)">Monday</th>
                                 <th colspan="3" onclick="sortTable(3,0)">Tuesday</th>
                                 <th colspan="3" onclick="sortTable(4,0)">Wednesday</th>
                                 <th colspan="3" onclick="sortTable(5,0)">Thursday</th>
                              </tr>
                            <tr>
                                <th colspan="3">Employee/Shift</th>
                                {% for i in 'xxxxx'%}
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,value in shifts.items %}
                                <tr class="clickable-shift-row">
                                    <td colspan="3">{{ key }}</td>
                                    {% for i in value %}
                                        <td>
                                            {% if i != 'x' %}
                                                {{ i }}
                                            {% else %}
                                                <i class="fas fa-times red-x"></i>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}


{% endblock %}