{% extends 'base.html' %}
{% load PLMC_extras %}
{% block title %}
            {% if worker %}
                - {{ worker.firstName }} {{ worker.lastName }}
            {% else %}
                - עובדים
            {% endif %}
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 page-title">
        <h1>
            {% if worker %}
                {{ worker.firstName }} {{ worker.lastName }}
            {% endif %}
        </h1>
        </div>
    </div>
    <!-- MENU -->
    <div class="menu">
        <ul>
            <li>
                <a onclick="window.history.back(); return false;" >
                    <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                    <div class="menu-text">חזרה</div>
                </a>
            </li>
            {% if worker %}
                <li>
                    <a href="{% url 'workers:edit' worker.id %}" >
                        <div class="menu-icon"><i class="fas fa-pencil-alt"></i></div>
                        <div class="menu-text">ערוך</div>
                    </a>
                </li>
                <li>
                    <a id="delete" >
                        <div class="menu-icon"><i class="fas fa-trash-alt"></i></div>
                        <div class="menu-text">מחק</div>
                    </a>
                </li>
                <li class="right-menu">
                <a href="{% url 'workers:shifts' %}">
                    <div class="menu-icon"><i class="far fa-calendar-alt"></i></div>
                    <div class="menu-text">משמרות</div>
                </a>
            </li>
            {% endif %}
                </ul>
    </div>
        <!-- CONTENT -->
            {% if worker %}
                <div class="row"></div>
                <div class="row info">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        {% if worker.address %}
                                <h3>כתובת</h3>
                                <p>{{ worker.address }}</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-3">
                        <h3>פרטי התקשרות</h3>
                        {% if worker.phone %}
                            <p>{{ worker.phone }}</p>
                        {% endif %}
                        {% if worker.email %}
                            <p>{{ worker.email }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if worker.skills %}
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <h3>כישורים</h3>
                            <p>{{ worker.skills }}</p>
                        </div>
                    </div>
                    {% endif %}
                <div class="row info table">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>זמינות</h4>
                            </div>
                                <table class="table table-hover table-worker">
                                    <thead>
                                        <tr>
                                            <th>משמרת</th>
                                            <th>ראשון</th>
                                            <th>שני</th>
                                            <th>שלישי</th>
                                            <th>רביעי</th>
                                            <th>חמישי</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                         <tr>
                                             <td>1</td>
                                             {% for shift in worker.availability %}
                                                {% ifequal forloop.counter0|modulo:3 0 %}
                                                    <td>
                                                    {% ifequal shift 'o' %}
                                                        <i class="fas fa-check green-check"></i>
                                                    {% else %}
                                                        <i class="fas fa-times red-x"></i>
                                                    {% endifequal %}
                                                    </td>
                                                 {% endifequal %}
                                             {% endfor %}
                                         </tr>
                                         <tr>
                                             <td>2</td>
                                             {% for shift in worker.availability %}
                                                {% ifequal forloop.counter0|modulo:3 1 %}
                                                    <td>
                                                    {% ifequal shift 'o' %}
                                                        <i class="fas fa-check green-check"></i>
                                                    {% else %}
                                                        <i class="fas fa-times red-x"></i>
                                                    {% endifequal %}
                                                    </td>
                                                 {% endifequal %}
                                             {% endfor %}
                                         </tr>
                                         <tr>
                                             <td>3</td>
                                             {% for shift in worker.availability %}
                                                {% ifequal forloop.counter0|modulo:3 2 %}
                                                    <td>
                                                    {% ifequal shift 'o' %}
                                                        <i class="fas fa-check green-check"></i>
                                                    {% else %}
                                                        <i class="fas fa-times red-x"></i>
                                                    {% endifequal %}
                                                    </td>
                                                 {% endifequal %}
                                             {% endfor %}
                                         </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>



                <!-- DELETE MODAL -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h1><i class="fas fa-exclamation-circle"></i></h1>
                                <h3>האם אתה בטוח שברצונך למחוק את העובד {{ worker.firstName }} {{ worker.lastName }}(#{{ worker.id }})?</h3>
                                <p>תהליך זה ימחק את כל המידע הקשור לעובד {{ worker.firstName }}.</p>
                                <p style="font-weight: bold">לא ניתן לשחזר מידע שנמחק.</p>
                            </div>
                            <div class="modal-footer">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" onclick="deleteWorker({{ worker.id }})">
                                    <i class="fas fa-check"></i> מחק
                                </button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">
                                    <i class="fas fa-times"></i> בטל
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NOT EXISTS MESSAGE -->
            {% else %}
                <div class="row"></div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="not-exist">
                            <i class="fas fa-ban"></i>
                            <p>העובד אינו קיים</p>
                        </div>
                    </div>
                </div>
            {% endif %}



{% endblock %}