{% extends 'base.html' %}
{% load PLMC_extras %}
{% block title %}
- משמרות עובדים
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-6 page-title">
            <h1></h1>
        </div>
    </div>
    <div class="menu">
        {% if request.user|has_group:"Manager" %}
            <ul>
                <li>
                    <a onclick="window.history.back(); return false;" >
                        <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                        <div class="menu-text">חזרה</div>
                    </a>
            </ul>
        {% endif %}
    </div>
    <div class="row table">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                                 הקצאת משמרות
                        </h4>
                    </div>
                    <table class="table table-hover shifts-table">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                 <th colspan="3" onclick="sortTable(1,0)">ראשון</th>
                                 <th colspan="3" onclick="sortTable(2,0)">שני</th>
                                 <th colspan="3" onclick="sortTable(3,0)">שלישי</th>
                                 <th colspan="3" onclick="sortTable(4,0)">רביעי</th>
                                 <th colspan="3" onclick="sortTable(5,0)">חמישי</th>
                              </tr>
                            <tr>
                                <th colspan="3">עובד/משמרת</th>
                                {% for i in 'xxxxx'%}
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,value in shifts.items %}
                                <tr class="clickable-shift-row">
                                    <td colspan="3">{{ key }}</td>
                                    {% for i in value %}
                                        <td>
                                            {% if i != 'x' %}
                                                {{ i }}
                                            {% else %}
                                                <i class="fas fa-times red-x"></i>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


{% endblock %}