
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
}

 #wrapper {
    width: 100%;
    margin-top:50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:500px;
}
.pad-top {
    padding-top:15px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
	padding:0;
    padding-top:50px;
}

.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
    color: #214761;
font-weight: 900;
font-size: 16px;
    cursor: default;
}
.sidebar-collapse > .nav > li {
	border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	background:#F3F3F3;
	outline:0;
}
.sidebar-collapse .nav > li > a.active{
   	background:#F3F3F3;
    color: #2145ba;
	outline:0;
}

.navbar-side {
	border:none;
	background-color: #fff;
	
}
.navbar-inverse {

background-color: #F3F3F3;
border-color: #F0F0F0;
min-height: 80px;
}


.nav > li > a > i {
    margin-right:10px;
}
.logout-spn {
    font-size:0.6em;
    color: red;
    margin: 0 auto;
    display: table;
}
    .logout-spn a {
        text-decoration:none;
        color: red;
    }
.user-info{
    color: #214761;
    float: right;
    font-size:1.5em;
    font-weight:800;
    margin: 30px 40px 10px 50px;
}
.active-link {
    background-color:#f3f3f3;
}
.menu{
    margin-top: 10px;
}
.menu li{
    list-style-type: none;
    float: left;
    margin: 0 15px;
}
.menu:after{
   display: block;
    content: "";
    clear: both;
}

.menu li a {
    color: #214761;
    cursor: default;
}
.menu li a:hover {
    text-decoration: none;
    color: #4cae4c;

}
.menu-icon{
    font-size: 2.5em;
    text-align: center;
}

.menu-text{
    text-align: center;
}
.row.table{
    margin: 3% auto;
}
th{
    text-align: center;
}
.table{
    text-align: center;
}
.site-from{
    display: block;
}
.page-title h1{
    text-align: center;
    margin-top: 30px;
}
.not-exist{
    font-size: 1em;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;

}
.not-exist i{
    margin-bottom: 20px;
    color:red;
    font-size: 8em;
    opacity: 0.7;
}
.client-search .input-group,
.order-search .input-group{
    margin: 0 auto;
    width: 47.5%;
}

.new-client-form .input-group{
    margin-bottom: 20px;
}
.new-client-form .input-group label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}
.new-client-form .input-group input {
  display: inline-block;
  float: left;
}
.menu label{
    font-weight: normal;
}
.info{
    margin-top: 30px;
}
.modal-content{
    text-align: center;
}
.modal-content h1{
    color: red;
    font-size: 10em;
    opacity: 0.7;
}
.modal-footer{
    text-align: center;
}
.right-menu{
    float: right !important;
    margin-right: 100px !important;
}
.ui-widget label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.green-check{
    color: green;
}
.red-x{
    color: red;
}

/*==============================================
    DASHBOARD STYLES    
    =============================================*/
.div-square {
    padding:5px;
    border:3px double #e1e1e1;
    -webkit-border-radius:8px;
   -moz-border-radius:8px;
    border-radius:8px;
    margin:5px;

}

.div-square> a,.div-square> a:hover {
    color:#808080;
     text-decoration:none;
}
/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
    background-color:#214761;
    width:100%;
    color:#fff;
    padding:20px 50px 20px 50px;
     padding-left:20px;
}


    .footer > a, .footer>a:hover {
       
        color:#fff;
    }

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 500px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
       
    }

}
 @media(min-width:876px){
        .login-header img{
        width: 350px;
    }
 }

/*==============================================
   LOGIN STYLE
    =============================================*/
#login {
    background: #dddddd;
}

#content-login{
    width: 40%;
    margin: 50px auto;
    text-align: center;
    padding: 20px 0;
    background: #f0f0f0;
    border-radius: 8px;
}

.login-header h1{
    text-indent: -10000px;
    display: inline-block;
}

.login-form{
    margin: 10px 0;
}

.login-form .input-group{
    margin: 0 auto;
    width: 40%;
}
.login-form input{
    margin: 0 0 10px 10px;
    width: 80%;
}
.login-error{
    min-height: 30px;
}
.login-error span{
    color:red;
    font-weight: bold;
}

.login-form .btn-primary{
    margin-top: 20px;
    margin-left: 24px;
    width: 32%;
}


.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-size: 1.15em;
 }