{% extends 'base.html' %}
{% block title %}
- Clients
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-6 page-title">
            <h1></h1>
        </div>
    </div>
    <div class="menu">
        <ul>
            {% if query %}
                <li>
                    <a onclick="window.history.back(); return false;" >
                        <div class="menu-icon"><i class="fas fa-arrow-left"></i></div>
                        <div class="menu-text">Back</div>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'clients:new' %}">
                    <div class="menu-icon"><i class="fas fa-user-plus"></i></div>
                    <div class="menu-text">New Client</div>
                </a>
            </li>
        </ul>

    </div>
    <div class="row search">
         <div class="col-lg-12">
             <form class="client-search" action="." method="GET">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">
                        <i class="fas fa-address-card"></i>
                    </span>
                    {% if query %}
                    <input type="text" class="form-control" name='query'
                        placeholder="Search for Client by name, ID or contact information..." value={{ query }}>
                    {% else %}
                    <input type="text" class="form-control" name='query'
                           placeholder="Search for Client by name, ID or contact information...">
                    {% endif %}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div><!-- /input-group -->
             </form>
        </div>
    </div><!-- /.row -->

    <div class="row table">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {% if not clients and query %}
                Nothing found
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            {{ clients|length }}
                            {% if query %}
                                Results For Searching '{{ query }}'
                            {% else %}
                                Clients With Active Orders
                            {% endif %}
                        </h4>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0,0)">ID #</th>
                                <th onclick="sortTable(1,0)">Name</th>
                                <th onclick="sortTable(2,0)">Total Orders</th>
                                <th onclick="sortTable(3,0)">Active Orders</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% for client,vl in clients.items %}
                                <tr class="clickable-client-row">
                                    <td>{{ vl.0.id }}</td>
                                    <td>{{ vl.0.name }}</td>
                                    <td>{{ vl.1 }}</td>
                                    <td>{{ vl.2 }}</td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}