{% extends 'base.html' %}
{% block title %}
            {% if client %}
                - {{ client.name }}
            {% else %}
                - לקוחות
            {% endif %}
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 page-title">
        <h1>
            {% if client %}
                {{ client.name }}
            {% endif %}
        </h1>
        </div>
    </div>
    <!-- MENU -->
    <div class="menu">
        <ul>
            <li>
                <a onclick="window.history.back(); return false;" >
                    <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                    <div class="menu-text">חזרה</div>
                </a>
            </li>
            {% if client %}
                <li>
                    <a href="{% url 'clients:edit' client.id %}" >
                        <div class="menu-icon"><i class="fas fa-pencil-alt"></i></div>
                        <div class="menu-text">ערוך</div>
                    </a>
                </li>
                <li>
                    <a id="delete" >
                        <div class="menu-icon"><i class="fas fa-trash-alt"></i></div>
                        <div class="menu-text">מחק</div>
                    </a>
                </li>
                <li class="right-menu">
                <a href="{% url 'orders:new' %}?client={{ client.id }}">
                    <div class="menu-icon"><i class="fas fa-cart-plus"></i></div>
                    <div class="menu-text">הזמנה חדשה</div>
                </a>
            </li>
            {% endif %}
                </ul>
    </div>
        <!-- CONTENT -->
            {% if client %}
                <div class="row"></div>
                <div class="row info">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <h3>כתובת</h3>
                        <p>{{ client.address }}</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>פרטי התקשרות</h3>
                        <p>{{ client.contactName }}</p>
                        {% if client.contactPhone %}
                            <p>{{ client.contactPhone }}</p>
                        {% endif %}
                        {% if client.contactEmail %}
                            <p>{{ client.contactEmail }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if client.remarks %}
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <h3>הערות</h3>
                            <p>{{ client.remarks }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row info table">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>היסטוריית הזמנות</h4>
                            </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th onclick="sortTable(0,0)"># הזמנה</th>
                                            <th onclick="sortTable(1,0)">התקבלה לפני</th>
                                            <th onclick="sortTable(2,0)">זמן עיבוד</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        {% if done_orders %}
                                            {% for order in done_orders %}
                                                <tr class="clickable-order-row">
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ order.created|timesince }}</td>
                                                    <td>{{ order.get_process_time }}</td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="3">אין הזמנות שהסתיימו</td>
                                            </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>הזמנות פעילות</h4>
                            </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th onclick="sortTable(0,1)"># הזמנה</th>
                                            <th onclick="sortTable(1,1)">התקבלה לפני</th>
                                            <th onclick="sortTable(2,1)">יעד לסיום</th>
                                            <th onclick="sortTable(3,1)">התקדמות</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        {% if active_orders %}
                                            {% for order in active_orders %}
                                                <tr class="clickable-order-row">
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ order.created|timesince }} ago</td>
                                                    <td>
                                                        {% if order.dueDate %}
                                                            {% if order.late_due %}
                                                                <span style="font-weight: bold; color:red;">איחור</span>
                                                            {% else %}
                                                                {{ order.get_due_date }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ order.get_due_date }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ order.get_progress }}%</td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="4">אין הזמנות פעילות</td>
                                            </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>



                <!-- DELETE MODAL -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h1><i class="fas fa-exclamation-circle"></i></h1>
                                <h3>האם אתה בטוח שברצונך למחוק את הלקוח {{ client.name }}?</h3>
                                <p>תהליך זה ימחק את כל המידע הקשור ללקוח {{ client.name }}, כולל הזמנות.</p>
                                <p style="font-weight: bold">לא ניתן לשחזר מידע שנמחק.</p>
                            </div>
                            <div class="modal-footer">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" onclick="deleteClient({{ client.id }})">
                                    <i class="fas fa-check"></i> מחק
                                </button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">
                                    <i class="fas fa-times"></i> בטל
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NOT EXISTS MESSAGE -->
            {% else %}
                <div class="row"></div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="not-exist">
                            <i class="fas fa-ban"></i>
                            <p>הלקוח אינו קיים</p>
                        </div>
                    </div>
                </div>
            {% endif %}



{% endblock %}