*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
}
h4 {
  color: #1B4F72;
  font-size: 15px;
}



select:focus,
select:active {
  outline: 0;
}


.input-group{
  margin-bottom: 2.5em;
  zoom: 1;
  text-align: right;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}

.column5 {
    float: right;
    width: 20%;
    padding: 5px;
  }
.column {
    float: right;
    width: 33.33%;
    padding: 5px;
}
.column4 {
    float: right;
    width: 25%;
    padding: 5px;
}
.column2 {
    float: right;
    width: 50%;
    padding: 5px;
}

.column3 {
    float: right;
    width: 33.33%;
    padding: 5px;
    margin-top: 15px;
}
.draft{
    font-size: 150px;
    font-weight: bold;
    opacity: 0.15;
    position: absolute;
    top: 20%;
    left: 25%;
}
.second{
    top: 50%;
}
.container {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  width: 21cm;
  height: 34cm; 
  position: relative;
}

.col-To {
  padding-right: 10px;
  float: right;
  width: 50%;
}
.col-date {
  padding-right: 10px;
  float: right;
  width: 50%;
}
table {
    alignment-baseline:  left;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:#1B4F72;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.line {
    margin-bottom: 20px;
}
@media only screen and (max-width: 540px) {

}
