{% extends 'base.html' %}
{% load PLMC_extras %}
{% block title %}
    {% if edit %}
        - ערוך את המוצר  {{ form.instance.name }}
    {% else %}

    {% endif %}
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 page-title">
            <h1>
                {% if edit %}
                    ערוך את מוצר #{{ form.instance.id }} - {{ form.instance.name }}
                {% else %}

                {% endif %}
            </h1>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a onclick="window.history.back(); return false;" >
                    <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                    <div class="menu-text">חזרה</div>
                </a>
            </li>
            <li>
                <a href="">
                    <label for="submit-form">
                        <div class="menu-icon"><i class="far fa-save" aria-hidden="true"></i></div>
                        <div class="menu-text">שמור</div>
                    </label>
                </a>
            </li>
            <li>
                <a id="delete" >
                    <div class="menu-icon"><i class="fas fa-trash-alt"></i></div>
                    <div class="menu-text">מחק</div>
                </a>
            </li>
        </ul>

    </div>
    <div class="row"></div>
    <div class="row">
    <div class="col-lg-3"></div>
        <form class="new-client-form" action="" method="POST">
            {% csrf_token %}
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform">{{ form.processes.label_tag }}</span>
                    {{ form.processes }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <span style="display: none;">{{ form.order }}</span>
                    <span class="rtlform">{{ form.name.label_tag }}</span>
                    {{ form.name }}

                </div>
                <div class="input-group">
                    <span class="rtlform">{{ form.amount.label_tag }}</span>
                    {{ form.amount }}
                </div>
            </div>
                <input type="submit" id="submit-form" class="hidden">

        </form>
    </div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1><i class="fas fa-exclamation-circle"></i></h1>
                <h3>האם אתה בטוח שברצונך למחוק את מוצר #{{ form.instance.id }}?</h3>
                <p style="font-weight: bold">לא ניתן לשחזר מידע שנמחק.</p>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button type="button" class="btn btn-danger" onclick="deleteProduct({{ form.instance.id }}, {{ form.instance.order.id }})">
                    <i class="fas fa-check"></i> מחק
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    <i class="fas fa-times"></i> בטל
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}