{% extends 'base.html' %}
{% load PLMC_extras %}
{% block title %}
    {% if edit %}
        - ערוך את המוצר  {{ form.instance.name }}
    {% else %}

    {% endif %}
{% endblock %}
{% block  content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 page-title">
            <h1>
                {% if edit %}
                    ערוך את מוצר #{{ form.instance.id }} - {{ form.instance.name }}
                {% else %}

                {% endif %}
            </h1>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a onclick="window.history.back(); return false;" >
                    <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                    <div class="menu-text">חזרה</div>
                </a>
            </li>
            <li>
                <a href="">
                    <label for="submit-form">
                        <div class="menu-icon"><i class="far fa-save" aria-hidden="true"></i></div>
                        <div class="menu-text">שמור</div>
                    </label>
                </a>
            </li>
            <li>
                <a id="delete" >
                    <div class="menu-icon"><i class="fas fa-trash-alt"></i></div>
                    <div class="menu-text">מחק</div>
                </a>
            </li>
        </ul>

    </div>
    <div class="row"></div>
    <form class="new-client-form" id="form" action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                    <div class="input-group">
                    <span class="rtlform" style="width:100px;">{{ form.coc_needed.label_tag }}</span>
                    {{ form.coc_needed }}
            </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group" style="display: none;  ">
                    <span class="rtlform">{{ form.done_processes.label_tag }}</span>
                    {{ form.done_processes }}
                </div>
            <div class="input-group">
                    <span class="rtlform">{{ form.schema.label_tag }}</span>
                    {{ form.schema }}
            </div>
            <div class="input-group">
                    <span class="rtlform">{{ form.edition.label_tag }}</span>
                    {{ form.edition }}
            </div>
            <div class="input-group">
                    <span class="rtlform">{{ form.CN.label_tag }}</span>
                    {{ form.CN }}
            </div>

            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span style="display: none;">{{ form.order }}</span>
                    <span class="rtlform">{{ form.name.label_tag }}</span>
                    {{ form.name }}

                </div>
                <div class="input-group">
                    <span class="rtlform">{{ form.amount.label_tag }}</span>
                    {{ form.amount }}
                </div>
                <div class="input-group" dir="rtl">
                    <span class="rtlform">{{ form.processes.label_tag }}</span>
                    {{ form.processes }}
                </div>
                <div class="input-group" style="right:100px;" id="processSelector">
                    <span style="font-weight: bold; font-size: 1.5em;"> + </span>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="input-group" style="display: none;">
                    {{ form.parameters }}
                </div>
            </div>
        </div>
        <div class="row login-error" id="processes_error_msg" align="center" style="display:none; margin-bottom: 40px;">
            <span>רשימת התהליכים אינה חוקית, אנא תקן אותה ונסה שנית.</span>
            <br/>
            <span>(רשימה חוקית: תהליך אחד או יותר,פסיק מפריד בין התהליכים, תהליך מופיע לכל היותר פעם אחת)</span>
        </div>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <h4>פרמטרי חיתוך</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.volt.label_tag }}</span>
                    {{ form.volt }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.ms.label_tag }}</span>
                    {{ form.ms }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.hz.label_tag }}</span>
                    {{ form.hz }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3" style="left: 60px;">
                <div class="input-group">
                    <span class="rtlform">{{ form.diameter.label_tag }}</span>
                    {{ form.diameter }}
                </div>
            </div>
            <div class="col-lg-3" style="left: 60px;">
                <div class="input-group">
                    <span class="rtlform">{{ form.rotating.label_tag }}</span>
                    {{ form.rotating }}
                </div>
            </div>
            <div class="col-lg-3" style="left: 60px;">
                <div class="input-group">
                    <span class="rtlform">{{ form.micro_weld.label_tag }}</span>
                    {{ form.micro_weld }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <h4>פרמטרי סימון</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.power.label_tag }}</span>
                    {{ form.power }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.freq.label_tag }}</span>
                    {{ form.freq }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.speed.label_tag }}</span>
                    {{ form.speed }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.others.label_tag }}</span>
                    {{ form.others }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="rtlform" style="width: 100px;">{{ form.fs.label_tag }}</span>
                    {{ form.fs }}
                </div>
            </div>
            <div class="col-lg-3" style="left: 10px;">
                <div class="input-group">
                    <span class="rtlform" style="width: 110px;">{{ form.density.label_tag }}</span>
                    {{ form.density }}
                </div>
            </div>
        </div>
    <input type="" onclick="validateAndSubmit()" id="submit-form" class="hidden">
    </form>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1><i class="fas fa-exclamation-circle"></i></h1>
                <h3>האם אתה בטוח שברצונך למחוק את מוצר #{{ form.instance.id }}?</h3>
                <p style="font-weight: bold">לא ניתן לשחזר מידע שנמחק.</p>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button type="button" class="btn btn-danger" onclick="deleteProduct({{ form.instance.id }}, {{ form.instance.order.id }})">
                    <i class="fas fa-check"></i> מחק
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    <i class="fas fa-times"></i> בטל
                </button>
            </div>
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
                $.ajax({
                    url: "/api/stations/",
                    success: function(data){
                    stations = JSON.parse(data);
                    {% if not edit %}
                        addProduct();
                    {% else %}
                        editProduct();
                    {% endif %}
                }});



        });
        function isProcessList(){
            var list = $("#id_processes").val();
            if (list.length < 0){
                return false;
            }
            list = list.split(',');
            if (list[list.length-1]==''){
                list.pop();
            }
            for (var i=0; i<list.length; i++){
                if (!stations.includes(list[i])) {
                    return false;
                }
            }
            return uniqueList(list) && true;
        }

        function uniqueList(list){
            var dict = {};
            for (var i=0; i<list.length; i++){
                if (list[i] in dict){
                    return false;
                }
                else{
                    dict[list[i]] = 1;
                }
            }
            return true;
        }
        function validateAndSubmit(){
            $("#processes_error_msg").hide();
            var list = $("#id_processes").val();
            if (isProcessList()){
                if(list[list.length-1] == ','){
                    list = list.slice(0,list.length-1);
                    $("#id_processes").val(list);
                }
                $("#form").submit();
            }
            else{
                $("#processes_error_msg").show();
            }
        }
        function editProduct() {
            var sec1 = '<select onchange="addProcess(this.value)">\n' +
                '                        <option style="display: none;" selected>תהליך</option>';
            var sec2 = '</select>';
            var final = sec1;
            for (var i in stations){
	        final+='<option>'+stations[i]+'</option>';
        }
            final += sec2;
            $("#processSelector").append(final);
        }
        var firstAddition = true;
        function addProcess(station){
            var delimiter = '';
            if ($("#id_processes").val().length > 1 && firstAddition){
                delimiter = ',';
            }
            $("#id_processes")[0].value += delimiter+station +',';
            firstAddition = false;
        }
    </script>
{% endblock %}