{% extends 'base.html' %}
{% load PLMC_extras %}
{% block title %}
    -סידור מוצרים
{% endblock %}
{% block  content %}
     <div class="row">
        <div class="col-lg-6 page-title">
            <h1></h1>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="{% url 'production_floor:schedule' %}">
                    <div class="menu-icon" style=""><i class="fas fa-sync-alt"></i></div>
                    <div class="menu-text">רענן שיבוץ</div>
                </a>
            </li>
            <li>
                <a href="{% url 'production_floor:station_new' %}">
                    <div class="menu-icon"><i class="fas fa-plus-square"></i></div>
                    <div class="menu-text">תחנה חדשה</div>
                </a>
            </li>
        </ul>

    </div>
    <div class="row" style="text-align: center">
עודכן לאחרונה ב        {{ last_updated }}
        <br/>
        <span style="font-size: 0.8em">*זמני ההתחלה מתייחסים לזמן העדכון האחרון</span>
    {% csrf_token %}
    </div>

    {% for i in schedule %}
 <div class="row info table">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{% url 'production_floor:station_edit' i.1.2 %}">
                                    <h4>מכונה {{ i.1.0 }}</h4>
                                </a>
                            </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>מוצר</th>
                                            <th># הזמנה</th>
                                            <th>כמות</th>
                                            <th>זמן התחלה</th>
                                            <th>זמן סיום</th>
                                            <th>זמן עיבוד צפוי</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        {% if i.1.1 %}
                                            {% for product in i.1.1 %}
                                                <tr class="clickable-schedule-row" style="color: {{ product.4 }}">
                                                    <td>{{ product.0.name }}</td>
                                                    <td>
                                                        <a style="text-decoration: none;" href="{% url 'orders:info' product.0.order.id %}">{{ product.0.order.id }}</a>
                                                    </td>
                                                    <td>{{ product.0.amount }}</td>
                                                    <td>{{ product.1|date:'H:i' }}</td>
                                                    <td>{{ product.2|date:'H:i' }}</td>
                                                    <td>{{ product.3|timeuntil }}</td>
                                                    <td style="display: none;">{{ product.0.id }}</td>
                                                    <td style="display: none;">{{ i.1.0 }}</td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="4">אין עבודות בתור</td>
                                            </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{% url 'production_floor:station_edit' i.0.2 %}">
                                    <h4>מכונה {{ i.0.0 }}</h4>
                                </a>
                            </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="color: g">מוצר</th>
                                            <th># הזמנה</th>
                                            <th>כמות</th>
                                            <th>זמן התחלה</th>
                                            <th>זמן סיום</th>
                                            <th>זמן עיבוד צפוי</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        {% if i.0.1 %}
                                            {% for product in i.0.1 %}
                                                <tr class="clickable-schedule-row" style="color: {{ product.4 }}">
                                                    <td>{{ product.0.name }}</td>
                                                    <td>
                                                        <a style="text-decoration: none;" href="{% url 'orders:info' product.0.order.id %}">{{ product.0.order.id }}</a>
                                                    </td>
                                                    <td>{{ product.0.amount }}</td>
                                                    <td>{{ product.1|date:'H:i' }}</td>
                                                    <td>{{ product.2|date:'H:i' }}</td>
                                                    <td>{{ product.3|timeuntil }}</td>
                                                    <td style="display: none;">{{ product.0.id }}</td>
                                                    <td style="display: none;">{{ i.0.0 }}</td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="4">אין עבודות בתור</td>
                                            </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
    {% endfor %}
    {% if more.0 %}
    <div class="row info table">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{% url 'production_floor:station_edit' more.0.2 %}">
                                    <h4>מכונה {{ more.0.0 }}</h4>
                                </a>
                            </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>מוצר</th>
                                            <th># הזמנה</th>
                                            <th>כמות</th>
                                            <th>זמן התחלה</th>
                                            <th>זמן סיום</th>
                                            <th>זמן עיבוד</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        {% if more.0.1 %}
                                            {% for product in more.0.1 %}
                                                <tr class="clickable-schedule-row" style="color: {{ product.4 }}">
                                                    <td>{{ product.0.name }}</td>
                                                    <td>
                                                        <a style="text-decoration: none;" href="{% url 'orders:info' product.0.order.id %}">{{ product.0.order.id }}</a>
                                                    </td>
                                                    <td>{{ product.0.amount }}</td>
                                                    <td>{{ product.1|date:'H:i' }}</td>
                                                    <td>{{ product.2|date:'H:i' }}</td>
                                                    <td>{{ product.3|timeuntil }}</td>
                                                    <td style="display: none;">{{ product.0.id }}</td>
                                                    <td style="display: none;">{{ more.0.0 }}</td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="4">אין עבודות בתור</td>
                                            </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                        </div>
    {% endif %}
{% endblock %}