
{% load PLMC_extras %}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 page-title">
    </div>
</div>
<div class="menu">
    <ul>
        <li>
            <a href="{% url 'production_floor:index' %}" >
                <div class="menu-icon"><i class="fas fa-arrow-right"></i></div>
                <div class="menu-text">חזרה</div>
            </a>
        </li>
        <li>
            {% if not start_time %}
                <a>
                <label for="start-form">
            {% else %}
                <label style="color: lightgray">
            {% endif %}
                <div class="menu-icon"><i class="fas fa-hourglass-start"></i></div>
                <div class="menu-text">התחל עבודה</div>
                </label>
            {% if not start_time %}
                </a>
            {% endif %}
        </li>
        <li>
            {% if start_time and not done_time %}
                <a id="end">
            {% else %}
                <label style="color: lightgray">
            {% endif %}
                <div class="menu-icon"><i class="fas fa-check-square"></i></div>
                <div class="menu-text">סיים עבודה</div>
                </label>
            {% if start_time %}
                </a>
            {% endif %}
        </li>
    </ul>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8" style="margin-top: 8%;">
        <span style="font-size: 1.8em">{{ context.amount }} יחידות של {{ context.name }}</span>
        <br/><br/><br/>
        {% if start_time %}
            <span style="font-size: 1.3em">העבודה החלה ב{{ start_time|date:'d/m/Y, H:i' }} (לפני {{ start_time|timesince }})</span>
            <br/>
        {% endif %}

        {% if done_time %}
            <span style="font-size: 1.3em">העבודה הושלמה ב{{ done_time|date:'d/m/Y, H:i' }} (לפני {{ done_time|timesince }})</span>
            <br/>
            <span style="font-size: 1.3em">בוצע ע"י {{ operator }}</span>
        {% else %}
            <span style="font-size: 1.3em">        זמן עבודה מוערך כולל בתחנת {{ context.process }} הוא כ-{{ time }}</span>
        {% endif %}
    </div>
</div>






<div class="row" style="margin-top: 40px;">
            <div class="col-lg-9"></div>
            <div class="col-lg-1">
                <h4>פרמטרי חיתוך</h4>
            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span>Volt:</span>
                    {% if product.volt %}
                        {{ product.volt }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span>Ms:</span>
                    {% if product.ms %}
                        {{ product.ms }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span>Hz:</span>
                    {% if product.hz %}
                        {{ product.hz }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span>Diameter:</span>
                    {% if product.diameter %}
                        {{ product.diameter }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span>Rotating:</span>
                    {% if product.rotating %}
                        {{ product.rotating }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span>Micro Weld:</span>
                    {% if product.micro_weld %}
                        {{ product.micro_weld }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-1">
                <h4>פרמטרי סימון</h4>
            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span>Power:</span>
                    {% if product.power %}
                        {{ product.power }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span>Freq.</span>
                    {% if product.freq %}
                        {{ product.freq }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span>Speed:</span>
                    {% if product.speed %}
                        {{ product.speed }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span>Others:</span>
                    {% if product.others %}
                        {{ product.others }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span>F.s:</span>
                    {% if product.fs %}
                        {{ product.fs }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2" >
                <div class="input-group">
                    <span>Density:</span>
                    {% if product.density %}
                        {{ product.density }}
                    {% endif %}
                </div>
            </div>
        </div>













<div>
    <form method="post" action="/productionFloor/start/">
        {% csrf_token %}
        <input type="text" name="id" value="{{ context.id }}" class="hidden">
        <input type="text" name="process" value="{{ context.process }}" class="hidden">
        <input type="submit" id="start-form" class="hidden">
    </form>
</div>
</div>
<div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1 style="color: green;"><i class="fas fa-clipboard-check"></i></h1>
            </div>
            <form method="post" action="/productionFloor/end/">
                {% csrf_token %}
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span style="margin-left:19px;">שם המבצע:</span>
                        <input type="text" name="operator" value="{{ user.get_full_name }}" readonly required>
                    </div>
                    <div class="input-group">
                        <span style="margin-left:5px;">כמות שמישים:</span>
                        <input type="text" name="amount" value="{{ context.amount }}" required>
                    </div>
                    <div class="input-group" style="display: none;">
                        <span style="margin-left:44px;">הערות:</span>
                        <textarea name="remarks"></textarea>
                    </div>
                </div>
                <div class="input-group" style="display: none;">
                    <span style="margin-left:30px;">#מוצר</span>
                    <input type="text" name="id" style="background-color: lightgray;" readonly value="{{ context.id }}">
                    <span style="margin-left:30px;">תהליך</span>
                    <input type="text" name="process" style="background-color: lightgray;" readonly value="{{ context.process }}">
                </div>
                <br/>
                <div class="row"></div>
                <div class="modal-footer" >
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i>סיים
                    </button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                        <i class="fas fa-times"></i> בטל
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
