<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    {% load static %}
    {% load PLMC_extras %}
    {{ form.media }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoham PLMC {% block title %}{% endblock %}</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
     <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- STYLE STYLES-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'homepage' %}">
                        <img src="{% static 'img/logo_heb.png' %}" width="180px"/>
                    </a>
                    
                </div>
                <div class="user-info">
                        {% if user.is_authenticated %}
                            <i class="fas fa-user-circle"></i>
                            {{ user.get_username }}
                        {% endif %}
                    <div class="logout-spn" >
                        <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> התנתק</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a {% if nbar == 'orders' %}class="active"{% endif %} href="{% url 'orders:index' %}"><i class="fa fa-edit "></i><span class="nav-text">הזמנות</span></a>
                    </li>
                   

                    <li>
                        <a {% if nbar == 'clients' %}class="active"{% endif %} href="{% url 'clients:index' %}"><i class="fas fa-address-card"></i><span class="nav-text">לקוחות</span></a>
                    </li>
                    <li>
                        <a {% if nbar == 'production_floor' %}class="active"{% endif %} href="{% url 'production_floor:index' %}"><i class="fab fa-whmcs "></i><span class="nav-text">רצפת יצור</span></a>
                    </li>
                    <li>
                        <a {% if nbar == 'reports' %}class="active"{% endif %} href="{% url 'reports:index' %}"><i class="fas fa-paperclip"></i><span class="nav-text">טפסים</span></a>
                    </li>
                    {% if request.user|has_group:"Manager" %}
                        <li>
                            <a {% if nbar == 'workers' %}class="active"{% endif %} href="{% url 'workers:index' %}"><i class="fa fa-users "></i><span class="nav-text">עובדים</span></a>
                        </li>
                    {% endif %}

                </ul>
            </div>

        </nav>
        <div id="page-wrapper" >
            <div id="page-inner">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <span>קבוצה 197</span>
        </div>
    <!-- JQUERY SCRIPTS -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- STYLE SCRIPTS -->
    <script src="{% static 'js/style.js' %}"></script>
    
   
</body>
</html>
