<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLMC - SHOHAM</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        <!-- STYLE STYLES-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo_heb.png' %}" width="180px"/>

                    </a>
                    
                </div>
                <div class="user-info">
                        {% if user.is_authenticated %}
                            <i class="fa fa-user"></i>
                            {{ user.get_username }}
                        {% endif %}
                    <div class="logout-spn" >
                        <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> LOGOUT</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a><i class="fa fa-edit "></i>Orders <span class="badge"></span></a>
                    </li>
                   

                    <li>
                        <a href="clients"><i class="fas fa-address-card"></i>Clients  <span class="badge"></span></a>
                    </li>
                    <li>
                        <a><i class="fab fa-whmcs "></i>Floor Management  <span class="badge"></span></a>
                    </li>
                    <li>
                        <a><i class="fas fa-bar-chart"></i>Reports <span class="badge"></span></a>
                    </li>
                        <li>
                            <a><i class="fa fa-users "></i>Workers <span class="badge"></span></a>
                        </li>

                </ul>
                            </div>

        </nav>
        <div id="page-wrapper" >
            <div id="page-inner">
            {% if not 'Employee' in request.user.groups.all %}
                <h1>
                    {{ request.user.groups.all }}
                </h1>
            {% endif %}
                   {% block content %}

                    {% endblock %}
            </div>
        </div>
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- STYLE SCRIPTS -->
    <script src="{% static 'js/style.js' %}"></script>
    
   
</body>
</html>
